ADF_Pipeline/Retail_Inventory_system.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureSqlDatabase1":{"type":"string"},"AzureDatabricks1":{"type":"string"},"HttpServer1":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"},"ls_fakestore":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Retail_Inventory_system')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Fetch_API_data","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":"FlattenHierarchy"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"api_data","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"fetch_data","type":"DatasetReference","parameters":{"fileName":{"value":"inventory.json","type":"Expression"}}}]},{"name":"sp_pipeline_log_success","description":"Logs pipeline execution details for monitoring and debugging.","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"check_data_empty_or_not","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[insert_pipeline_log]","storedProcedureParameters":{"end_time":{"value":{"value":"@utcnow()","type":"Expression"},"type":"DateTime"},"error_message":{"value":null,"type":"String"},"pipeline_name":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"rows_read":{"value":{"value":"0\n","type":"Expression"},"type":"Int32"},"rows_written":{"value":{"value":"@int(activity('Fetch_API_data').output.filesWritten)","type":"Expression"},"type":"Int32"},"run_id":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"String"},"start_time":{"value":{"value":"@utcnow()","type":"Expression"},"type":"DateTime"},"status":{"value":"'Succeeded'","type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"sp_pipeline_log_failure","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"check_data_empty_or_not","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[insert_pipeline_log]","storedProcedureParameters":{"end_time":{"value":{"value":"@utcnow()","type":"Expression"},"type":"DateTime"},"error_message":{"value":{"value":"@activity('Fetch_API_data').error.message","type":"Expression"},"type":"String"},"pipeline_name":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"rows_read":{"value":"0","type":"Int32"},"rows_written":{"value":{"value":"@int(activity('Fetch_API_data').output.filesWritten)","type":"Expression"},"type":"Int32"},"run_id":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"String"},"start_time":{"value":{"value":"@utcnow()","type":"Expression"},"type":"DateTime"},"status":{"value":"'Failed'","type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"check_data_empty_or_not","type":"IfCondition","dependsOn":[{"activity":"Fetch_API_data","dependencyConditions":["Succeeded"]},{"activity":"LS_FakeStoreAPI","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@greater(activity('Fetch_API_data').output.filesWritten, 0)","type":"Expression"},"ifFalseActivities":[{"name":"empty_data","type":"Fail","dependsOn":[],"userProperties":[],"typeProperties":{"message":"No data received from API or file not created in ADLS","errorCode":"NO_DATA_FOUND"}}]}},{"name":"Bronze_ingestion","type":"DatabricksNotebook","dependsOn":[{"activity":"sp_pipeline_log_success","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/sejalkumbhar30@outlook.com/Retail_Inventory_system/Bronze/Bronze_layer.ipynb"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"Silver_transformation","type":"DatabricksNotebook","dependsOn":[{"activity":"Bronze_ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/sejalkumbhar30@outlook.com/Retail_Inventory_system/Silver/Silver_main.ipynb"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"Gold_aggreations","type":"DatabricksNotebook","dependsOn":[{"activity":"Silver_transformation","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/sejalkumbhar30@outlook.com/Retail_Inventory_system/Gold/Gold_layer.ipynb"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"low_stock_alert_condition","type":"IfCondition","dependsOn":[{"activity":"Gold_aggreations","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@greater(int(coalesce(activity('Gold_aggreations').output.runOutput,'0')), 0)\n\n","type":"Expression"},"ifTrueActivities":[{"name":"Web1","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"POST","headers":{"email_web":{"value":"Content-Type: application/json","type":"Expression"}},"url":"https://prod-25.centralindia.logic.azure.com:443/workflows/c58591f9b9f340d696c04fc16734a4e1/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=H16NNVscxsdrlMPOTElZ9O2YbWMiCP-E3fyPYU1s0vI","body":{"value":"{\n  \"message\": \"Low stock detected\",\n  \"product_name\": \"Skin Cream\",\n  \"product_id\": \"P12345\",\n  \"current_stock\": @{int(coalesce(activity('Gold_aggreations').output.runOutput,'0'))},\n  \"reorder_threshold\": 10,\n  \"suggested_action\": \"Reorder 50 units from Supplier A\",\n  \"alert_time\": \"@{utcNow('yyyy-MM-dd HH:mm:ss')}\"\n}","type":"Expression"}}}]}},{"name":"LS_FakeStoreAPI","type":"Copy","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":"FlattenHierarchy"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"fake_store","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"fake_data","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{}},"parameters":{"api_endpoint":{"type":"string","defaultValue":"/product"}},"variables":{"end_time":{"type":"String","defaultValue":"@utcnow()"},"start_time":{"type":"String","defaultValue":"@utcnow()"}},"annotations":[],"lastPublishTime":"2026-04-02T10:54:45Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/api_data')]","[concat(variables('factoryId'), '/datasets/fetch_data')]","[concat(variables('factoryId'), '/datasets/fake_store')]","[concat(variables('factoryId'), '/datasets/fake_data')]"]},{"name":"[concat(parameters('factoryName'), '/api_data')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('HttpServer1')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@pipeline().parameters.api_endpoint","type":"Expression"}}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/fetch_data')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"fileName":{"type":"string","defaultValue":"@concat('inventory_', formatDateTime(utcNow(),'yyyy_MM_dd_HH_mm_ss'), '.json')"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"@dataset().fileName","folderPath":"Raw_data","fileSystem":"input"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/fake_store')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_fakestore')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":"/products?limit=30&skip=30"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/fake_data')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"Raw_data","fileSystem":"input"}},"schema":{}},"dependsOn":[]}]}